.img-header {
  background-image: url("https://www.supalai.com/images/about/img_banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  height: 100px;
  color: var(--theme-color);
}
