@import "./navbar.scss";
@import "./home.scss";
@import "./about.scss";
@import "./add-on.scss";
@import "./social-link.scss";
@import "./location.scss";
@import "./houseIdea.scss";
@import "./houseDetail.scss";
@import "./housePlan.scss";
@import "react-slideshow-image/dist/styles.css";
@import "react-tabs/style/react-tabs.css";
@import "@fontsource/kanit";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6c2c7;
  border-radius: 10px;
  border: 3px solid #ffffff;
  &:hover{
    background-color: var(--gray-color);
  }
}
