.qualitier {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  text-align: center;
  max-width: 940px;
  &--title {
    margin: 0;
    font-size: 52px;
    color: var(--title-color);
  }
  &--subtitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    color: var(--theme-color);
  }

  &--des {
    font-size: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .qualitier {
    text-align: left;
    padding: 0px 20px;
    &--title {
      font-size: 28px;
    }
    &--subtitle {
      font-size: 20px;
    }
    &--des {
      font-size: 18px;
    }
  }
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root{
  font-family:'Kanit', 'Prompt', 'Roboto',sans-serif;
}
.Mui-focused {
  color: var(--theme-color) !important;
  font-family:'Kanit', 'Prompt', 'Roboto',sans-serif;
  fieldset {
    border-color: var(--title-color)  !important;
  }
}