.plan {
  background-color: #fff;
  background-image: linear-gradient(#f1f2f2,#fff);
  .react-tabs__tab--selected{
    background-color: #d8dbdb !important;
  }
  &--area{
    max-width: 940px;
    margin: auto;
    margin-top: 30px;
    img{
      max-width: 100%;
    }
  }
}
